<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">ngx-valid Demo</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/sample-form" routerLinkActive="active">Sample Form</a>
      <a class="nav-link" routerLink="/complex-form" routerLinkActive="active">Complex Form</a>
      <a class="nav-link" routerLink="/performance-form" routerLinkActive="active">Performance Form</a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
